
/* Body */
body {
    background: linear-gradient(to right, #EECDA3, #EF629F);
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Heading */
#myH1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

/* Buttons */
.Button {
    background-color: rgba(1, 255, 213, 0.479);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, background-color 0.2s;
}

.Button:hover {
    background-color: rgba(1, 255, 213, 0.781);
    transform: scale(1.05);
}

.Button-container {
    text-align: center;
    margin-top: 20px;
}

/* Inputs */
.Input-container {
    text-align: center;
    margin-top: 20px;
}

.Input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    width: 100px;
    transition: border-color 0.2s;
}
/* Usar esto despues*/
.Input:focus {
    border-color: #43c6ac;
    outline: none;
}

/* Number Container */
.Number-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh; /* Lo coloca en el centro */
}

#Number-container {
    font-size: 300px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.692);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    cursor: pointer; 
}

#Number-container:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.247), 0 0 35px rgba(0, 0, 0, 0.212), 0 0 45px rgba(0, 0, 0, 0.226);
}


footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #328a78;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline; /* Coloca una linea debajo de las letras */
    color: white;
}